<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>140C8F091A4EBE3100F85556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140C8F131A4EBE3100F85556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140F195B1A49D79400B0016A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140F19661A49D79500B0016A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
